# +------------- min (0 - 59)
# |    +----------- hour (0 - 23)
# |    |    +--------- day of month (1 - 31)
# |    |    | +------- month (1 - 12)
# |    |    | | +----- day of week (0 - 6) (Sunday=0)
# |    |    | | | +--- command to be executed
# *    *    * * * *
 59   11    * * 1 touch ~/0.6.1-server/keepers/Data/MaintenanceMode/maintenance.lock
  0   12    * * 1 ~/bin/reset.sh
 59   23    * * 4 touch ~/0.6.1-server/keepers/Data/MaintenanceMode/maintenance.lock
  0    0    * * 5 ~/bin/reset.sh
 */2  *    * * * ~/bin/failsafe.sh
  3    *    * * * ~/bin/backup_art.sh
  3    *    * * * ~/bin/backup_cells.sh
  3    *    * * * ~/bin/backup_player.sh
  1    */24 * * * ~/bin/backup_logs.sh
  1    0    * * * ~/bin/cleanup_daily.sh
  2    0    1 * * ~/bin/cleanup_monthly.sh
