[submodule "0.6.1/scripts/Atkana"]
	path = 0.6.1/scripts/Atkana
	url = https://github.com/Atkana/tes3mp-scripts.git
	branch = master
[submodule "0.6.1/scripts/SkotisVarvikas"]
	path = 0.6.1/scripts/SkotisVarvikas
	url = https://github.com/SkotisVarvikas/TES3MP-Stuffs.git
	branch = master
[submodule "0.6.1/scripts/Check"]
	path = 0.6.1/scripts/check
	url = https://github.com/mupfelofen-de/tes3mp-check
[submodule "0.6.1/scripts/PlayerCells"]
	path = 0.6.1/scripts/playercells
	url = https://github.com/mupfelofen-de/tes3mp-playercells
[submodule "0.6.1/scripts/CommandPack"]
	path = 0.6.1/scripts/command-pack
	url = https://github.com/mupfelofen-de/tes3mp-command-pack
[submodule "0.6.1/scripts/DisableAssasins"]
	path = 0.6.1/scripts/disable-assassins
	url = https://github.com/mupfelofen-de/tes3mp-disable-assassins
[submodule "0.6.1/scripts/TCC"]
	path = 0.6.1/scripts/TCC
	url = https://github.com/Texafornian/TCC-0.6.1.git
	branch = master
[submodule "0.6.1/scripts/mwTDM"]
	path = 0.6.1/scripts/mwTDM
	url = https://github.com/Texafornian/mwTDM-0.6.1.git
	branch = master
[submodule "LiveMap"]
	path = LiveMap
	url = https://github.com/TES3MP-TeamFOSS/LiveMap.git
	branch = master
[submodule "0.6.1/scripts/check"]
	path = 0.6.1/scripts/check
	url = https://github.com/vertchrite/tes3mp-check.git
	branch = master
[submodule "0.6.1/scripts/command-pack"]
	path = 0.6.1/scripts/command-pack
	url = https://github.com/vertchrite/tes3mp-command-pack.git
	branch = master
[submodule "0.6.1/scripts/playercells"]
	path = 0.6.1/scripts/playercells
	url = https://github.com/vertchrite/tes3mp-playercells.git
	branch = master
[submodule "0.6.1/scripts/disable-assasins"]
	path = 0.6.1/scripts/disable-assasins
	url = https://github.com/vertchrite/tes3mp-disable-assassins.git
	branch = scripts
[submodule "0.6.1/scripts/stuck-0.6.1"]
	path = 0.6.1/scripts/stuck-0.6.1
	url = https://github.com/Texafornian/stuck-0.6.1
	branch = master
[submodule "0.6.1/scripts/stuck"]
	path = 0.6.1/scripts/stuck
	url = https://github.com/Texafornian/stuck-0.6.1
	branch = master
