html, body {
  height: 100%;
  background-color: black;
}

#map {
  height: 100%;
  background-color: black;
}

#playerList{
    background-color: rgba(0,0,0,0.5);
    height: 20px;
    width: 15vw;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 1000;
    color: white;
    text-align: center;
    line-height: 0.25;
}

.tooltip 
{
  background-color: rgba(0,0,0,0) !important;
  color:white !important;
  border: none !important;
  font-weight: normal !important;
  padding-bottom: 25px !important;
  margin-left: 10px !important;
}

.leaflet-tooltip-right:before
{
  border: none !important;
}
